<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Ngx-input-autosize</h1>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br/>
      <br/>
      <h3>Example</h3>
      <br/>
      <input autosize [(ngModel)]="test" style="min-width:30px;font-size:30px" placeholder="testtttttt" />
      <br/><br/><br/>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <h3>MyAppModule.ts</h3>
        <br/>
        <prism-block [code]="tsModuleCode" [language]="'typescript'"></prism-block>
        <br/><br/>
        <h3>MyAppComponent.ts</h3>
        <br/>
        <prism-block [code]="tsCode" [language]="'typescript'"></prism-block>
        <br/><br/>
        <h3>my-app.html</h3>
        <br/>
        <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
      </div>
    </div>
</div>

